@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --snow: #FBFBFB;
    --dark-void: #151419;
    --dark-voided: #15141999;
    --dusty-grey: #878787;
    --primary: #F27121;
    --linkedin-blue: #0072b1;
    --instagram: #833AB4;
    --ef-orange: #FF7448;
    --ef-purple: #6300DC;
}

body {
    color: var(--dark-void);
    background: var(--snow)
}

.link {
    color: var(--primary)
}

.link:hover {
    color: var(--dark-void)
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer utilities {
    @variants responsive {

        /* Hide scrollbar for Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        .no-scrollbar {
            -ms-overflow-style: none;
            /* IE and Edge */
            scrollbar-width: none;
            /* Firefox */
        }
    }
}